.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
    width: 72px;
    height: 70px;
    border-radius: 80;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }

  .dropdown-content button {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 60px;
    box-shadow: 5px 5px 5px rgb(173, 176, 177);
  }

  .dropdown-content button:hover {
    background-color: rgb(236, 234, 234);
    cursor: pointer;
  }

  .posts {
    width: 100%;
  }
